.add {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 80%;
    .price {
      flex-direction: row;
      align-items: center;
      white-space: nowrap;
      input {
        flex-grow: 1;
      }
      &::after {
        content: "€";
      }
    }
  }
  textarea {
    resize: vertical;
    min-height: 4rem;
  }
  label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: var(--bold);
    width: 80%;
  }
}
