.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding-top: 2rem;
  .cartes {
    margin-top: 1rem;
    background-color: #ebe4ed;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
  }
  .section {
    width: 80%;
  }
  .hello {
    display: flex;
    align-items: center;
    width: 80%;
  }
  .cartes-bouton {
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 30%;
  }
  .a {
    padding: 0.5rem;
  }
}
h3 {
  color: var(--color-primary);
  font-weight: var(--bold);
  font-size: 1rem;
}
.covoit-section a::before {
  content: unset;
}
