.chatbot {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 2rem;
    font-weight: 500;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(
      180deg,
      #ffffff 72.88%,
      rgba(255, 255, 255, 0) 100%
    );
    .pull {
      position: absolute;
      top: 0.75rem;
      background-color: #c4c4c4;
      width: 2rem;
      height: 0.25rem;
      border-radius: 0.25rem;
    }
    svg {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }
}
