.header {
  background-color: #E1D0EA;
  display: flex;
  color: gray;
  align-items: center;
  padding: 1em;
    bottom: 1rem;
  right: 1rem;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
    bottom: 1rem;
  right: 1rem;
}